<div class="row my-4">
  <div class="col-12">
    <h1>My Experience</h1>
  </div>
</div>
<app-single-experience position="Full Stack Web Developer" orgName="The Carletonian"
                       orgLink="https://thecarletonian.com" startDate="Jan. 2019" endDate="present">
  <ul>
    <li>Designed and deployed new website (thecarletonian.com) for the newspaper</li>
    <li>Developed WordPress theme and plugins, based on continuous dialogue with the rest of the organization</li>
    <li>Utilized AWS EC2, S3, Route 53, and CloudFlare to host the website, providing reliability at low cost</li>
    <li>Responsible for continued development and maintenance of site, and presentation of content</li>
  </ul>
</app-single-experience>
<app-single-experience position="Student Assistant Developer" orgName="Carleton College Web Services"
                       orgLink="https://apps.carleton.edu/campus/web-group/"
                       startDate="Sept. 2016" endDate="March 2020">
  <ul>
    <li>Full-stack development and testing of content management systems (Reason CMS and WordPress)</li>
    <li>Created SQL-based tools to migrate content from legacy CMS (Reason) to WordPress</li>
    <li>Established procedures for local development on Windows and Linux using Docker containers, allowing staff to avoid spending money on Apple hardware</li>
    <li>Worked with non-technical colleagues to establish requirements and ensure stakeholder satisfaction</li>

  </ul>
</app-single-experience>
<app-single-experience position="Software Engineer Intern" orgName="Begley Research Group, UCSB"
                       orgLink="https://sites.engineering.ucsb.edu/~begley/home.html" startDate="June 2017" endDate="Aug. 2017">
  <ul>
    <li>Translated Mathematica-based materials-modeling software into MATLAB to allow the software to be utilized by corporations and government agencies that use MATLAB</li>
  </ul>
</app-single-experience>
