<div class="row my-4">
  <div class="col-12">
    <h1>My Projects</h1>
  </div>
</div>
<app-single-project name="Transformer-based Code Autocomplete" imageUrl="../../assets/code-stock.jpg">
  <p>Write some code in Java, and let a machine learning model guess what comes next!
  Trained on 1.8 million snippets of code, this model uses the Universal Transformer architecture,
    which repeatedly applies the same Transformer block to iteratively refine context.</p>
  <a type="button" routerLink="/projects/code-completion-demo"
     class="btn btn-primary mx-2">Try It</a>
  <a type="button" href="https://github.com/nathanielwarner/transformer_lang_model" target="_blank"
     class="btn btn-dark mx-2"><i-feather name="github" class="mx-1"></i-feather>See The Code</a>
</app-single-project>
<app-single-project
  name="Automated Code Retrieval and Summarization"
  imageUrl="../../assets/bvae.png">
  <p>Need a better way to search for code snippets?
  Perplexed by some poorly documented legacy implementation?
  The BVAE is a framework that tries to solve the problems of code retrieval and summarization.
  This project was my group senior project (comps) at Carleton.
  I earned distinction for my contributions.</p>
  <a type="button" href="https://github.com/max-nathaniel-paul-comps/code-retrieval-and-summarization"
     target="_blank" class="btn btn-dark mx-2"><i-feather name="github" class="mx-1"></i-feather>See The Code</a>
</app-single-project>
<app-single-project
  name="Personal Website"
  imageUrl="../../assets/website.png">
  <p>An interactive and responsive showcase of my skills and experience, based on the MEAN stack
    (Mongo, Express, Angular, Node.JS) with a microservice architecture.
    Hosted on Google Cloud Run with Knative.</p>
  <a type="button" href="https://github.com/nathanielwarner/personal-website" target="_blank"
     class="btn btn-dark mx-2"><i-feather name="github" class="mx-1"></i-feather>See The Code</a>
</app-single-project>
