<div class="row my-4">
  <div class="col-12">
    <h1>My Experience</h1>
  </div>
</div>
<app-single-experience position="DevOps Engineer" orgName="The Carletonian" orgLink="https://thecarletonian.com"
                       startDate="Jan. 2019" endDate="June 2020">
  <ul>
    <li>Created a responsive and easy-to-use website, based on continuous dialogue with the rest of the organization</li>
    <li>Migrated content stored in MySQL database of old website to new website</li>
    <li>Leveraged Ubuntu Linux on EC2 to provide cost-effective and scalable compute capacity</li>
    <li>Implemented automatic monitoring and remediation to ensure reliable operation of the site</li>
    <li>Managed domain hosting with Route 53 and CloudFlare DNS</li>
    <li>Integrated with S3 to provide scalable and geographically distributed image storage</li>
    <li>Improved performance and reduced bandwidth usage by integrating with CloudFlare CDN</li>
    <li>Responsible for maintenance and continued development of website, and presentation of content</li>
  </ul>
</app-single-experience>
<app-single-experience position="Student Assistant Developer" orgName="Carleton College Web Services"
                       orgLink="https://apps.carleton.edu/campus/web-group/"
                       startDate="Sept. 2016" endDate="March 2020">
  <ul>
    <li>Full-stack development and testing of content management systems (Reason CMS and WordPress)</li>
    <li>Created SQL-based tools to migrate content from legacy CMS (Reason) to WordPress</li>
    <li>Established procedures for local development on Windows and Linux using Docker containers</li>
    <li>Worked with Kubernetes clusters with Jenkins automation for management of production containers</li>
    <li>Utilized Agile development practices to improve team productivity</li>
    <li>Worked with non-technical colleagues to establish requirements and ensure stakeholder satisfaction</li>
  </ul>
</app-single-experience>
<app-single-experience position="Software Engineer Intern" orgName="Begley Research Group, UCSB"
                       orgLink="https://sites.engineering.ucsb.edu/~begley/home.html" startDate="June 2017" endDate="Aug. 2017">
  <ul>
    <li>Translated Mathematica-based materials modeling software into MATLAB to allow the software to be utilized by
      corporations and government agencies that use MATLAB</li>
    <li>Testing to ensure feature parity with original solution</li>
  </ul>
</app-single-experience>
