<div class="row my-5">
  <div class="col-3 col-lg-2">
    <img src="../../assets/me.png" class="img-fluid rounded-circle" alt="Picture of me">
    <div class="text-center m-2">
      <a href="https://github.com/nathanielwarner" target="_blank">
        <i-feather name="github" class="m-2"></i-feather>
      </a>
      <a href="https://www.linkedin.com/in/nathaniel-macarthur-warner-70558b130/" target="_blank">
        <i-feather name="linkedin" class="m-2"></i-feather>
      </a>
    </div>
  </div>
  <div class="col-9 col-lg-10">
    <h1>Hey, I'm Nathaniel!</h1>
    <p>
      I've been fascinated by computers and technology for as long as I can remember.
      I'm a graduate of Carleton College with a B.A. in Computer Science, and a software engineer with experience in
      <b>full-stack web development</b> and <b>machine learning</b>.
    </p>
    <p>
      Check out my <a routerLink="/projects">projects</a> and <a routerLink="/experience">employment experience</a>,
      and <a routerLink="/contact">get in touch</a> if you like!
    </p>
    <p>
      <a role="button" download="resume.pdf" target="_blank" href="/assets/Resume.pdf"
         class="btn btn-dark mx-2"><i-feather name="download-cloud" class="mx-1"></i-feather>Download My Resume</a>
    </p>
  </div>
</div>
<div class="row my-5">
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card m-3 m-sm-0" [ngClass]="{'shadow': isHoveringOn('carletonian')}"
         (mouseenter)="updateFeaturedHover('carletonian')"
         (mouseleave)="updateFeaturedHover('none')">
      <img class="card-img-top" src="../../assets/carletonian-screencapture.png" alt="The Carletonian Website">
      <div class="card-body">
        <h5 class="card-title">The <em>Carletonian</em></h5>
        <p class="card-text">
          I developed the current website of the <em>Carletonian</em>,
          the student-run publication of Carleton College.
        </p>
        <a role="button" href="https://thecarletonian.com" target="_blank"
           class="btn btn-primary mx-2 stretched-link"><i-feather name="external-link" class="mx-1"></i-feather>See It</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card m-3 m-sm-0" [ngClass]="{'shadow': isHoveringOn('code-completion')}"
         (mouseenter)="updateFeaturedHover('code-completion')"
         (mouseleave)="updateFeaturedHover('none')">
      <img class="card-img-top" src="../../assets/universal_transformer.png" alt="Code Completion">
      <div class="card-body">
        <h5 class="card-title">Code Completion and Summarization</h5>
        <p class="card-text">
          Type some code, and let a Transformer-based machine learning model
          guess what comes next. Then, let another model guess what your code does!
        </p>
        <button type="button" routerLink="/projects/code-completion-demo"
           class="btn btn-primary mx-2 stretched-link">Try It</button>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card m-3 m-sm-0" [ngClass]="{'shadow': isHoveringOn('flightgear-photoscenery')}"
         (mouseenter)="updateFeaturedHover('flightgear-photoscenery')"
         (mouseleave)="updateFeaturedHover('none')">
      <img class="card-img-top" src="../../assets/ksba-photoscenery.png" alt="FlightGear with photoscenery">
      <div class="card-body">
        <h5 class="card-title">FlightGear - PhotoScenery Edition</h5>
        <p class="card-text">
          A set of patches that bring photoscenery support to the open-source flight simulator FlightGear.
        </p>
        <a role="button" href="https://github.com/nathanielwarner/flightgear-photoscenery"
           target="_blank" class="btn btn-dark mx-2 stretched-link"><i-feather name="github" class="mx-1"></i-feather>Check It Out</a>
      </div>
    </div>
  </div>
</div>
