<div class="row my-4">
  <div class="col-12">
    <h4><a routerLink="/projects">My Projects</a> > <b>Code Completion Demo</b></h4>
  </div>
</div>
<div class="row my-4">
  <div class="col-12">
    Type some code in Java, and let a Transformer-based machine learning model guess what comes next!
  </div>
</div>
<div class="row my-4">
  <div class="col-12">
    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
  </div>
</div>
<div class="row my-4">
  <div class="col-12">
    <button class="btn btn-primary" (click)="complete()">Generate Completion</button>
    <div *ngIf="codeCompletionStatus == codeComplStatType.InProgress" class="alert alert-info">
      Please Wait...
    </div>
    <div *ngIf="codeCompletionStatus == codeComplStatType.Succeeded" class="alert alert-success">
      Success
    </div>
    <div *ngIf="codeCompletionStatus == codeComplStatType.Failed" class="alert alert-danger">
      Failed
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col-12">
    You can see the code for this project
    <a href="https://github.com/nathanielwarner/transformer_lang_model" target="_blank">
      <i-feather name="external-link" class="mx-1"></i-feather>on Github
    </a>.
  </div>
</div>
