<div class="row my-4">
  <div class="col-12">
    <h4><a routerLink="/projects">My Projects</a> > <b>Code Completion and Summarization</b></h4>
  </div>
</div>
<div class="row my-4">
  <div class="col-12">
    Type some code in Java, and let a Transformer-based machine learning model guess what comes next.
    When you're done, let another model guess what your code does!
  </div>
</div>
<div class="row my-4">
  <div class="col-12">
    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (onInit)="onEditorInit($event)"></ngx-monaco-editor>
  </div>
</div>
<div class="row my-4">
  <div class="col-12">
    <div class="btn-group" role="group">
      <button class="btn btn-primary" (click)="complete()" [disabled]="processingStatus == processingStatusEnum.InProgress">
        Complete
      </button>
      <button class="btn btn-primary" (click)="summarize()" [disabled]="processingStatus == processingStatusEnum.InProgress">
        Summarize
      </button>
    </div>
  </div>
</div>
<div *ngIf="summarization != null" class="row my-4">
  <div class="col-12">
    <b>Generated Summary:</b> {{summarization}}
  </div>
</div>
<div *ngIf="processingStatus != processingStatusEnum.None" class="row my-4">
  <div class="col-12">
    <div *ngIf="processingStatus == processingStatusEnum.InProgress" class="alert alert-info">
      Please Wait...
    </div>
    <div *ngIf="processingStatus == processingStatusEnum.Succeeded" class="alert alert-success">
      Success
    </div>
    <div *ngIf="processingStatus == processingStatusEnum.Failed" class="alert alert-danger">
      Failed. Please try again later...
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col-12">
    The code completion model uses PyTorch, while the code summarization model uses TensorFlow.
    Each is handled by a separate microservice.
  </div>
</div>
<div class="row my-4">
  <div class="col-12">
    You can see the code for
    <a href="https://github.com/nathanielwarner/transformer_lang_model" target="_blank">
      <i-feather name="external-link" class="mx-1"></i-feather>code completion
    </a> and for
    <a href="https://github.com/nathanielwarner/code_summarization_transformer" target="_blank">
      <i-feather name="external-link" class="mx-1"></i-feather>code summarization
    </a>.
  </div>
</div>
