<nav class="nav navbar navbar-expand-md navbar-light bg-light justify-content-between">
  <a routerLink="/home" class="navbar-brand">Nathaniel MacArthur-Warner</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="getNavCollapsed()" class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" (click)="toggleNavCollapsed()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/experience" (click)="toggleNavCollapsed()">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" (click)="toggleNavCollapsed()">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" (click)="toggleNavCollapsed()">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
