<div class="row my-4">
  <div class="col-3 col-lg-2">
    <img src="../../assets/me.png" class="img-fluid rounded-circle" alt="Picture of me">
    <div class="text-center m-2">
      <a href="https://github.com/nathanielwarner">
        <i-feather name="github" class="m-2"></i-feather>
      </a>
      <a href="https://www.linkedin.com/in/nathaniel-macarthur-warner-70558b130/">
        <i-feather name="linkedin" class="m-2"></i-feather>
      </a>
    </div>
  </div>
  <div class="col-9 col-lg-10">
    <h1>Hey, I'm Nathaniel!</h1>
    <p>I'm a <strong>software engineer</strong> with skills in full-stack web development.</p>
    <p>I'm also experienced in <strong>machine learning</strong> and <strong>Linux</strong>.</p>
    <p>I'm a graduate of Carleton College, and created the current website
      for <a href="https://thecarletonian.com">The <em>Carletonian</em></a>.</p>
    <button type="button" routerLink="/projects" class="btn btn-dark">See My Projects</button>
  </div>
</div>
